*, *::before, *::after {
    box-sizing: border-box;
}
.container {
    display:grid ;
    grid-template-columns: 10fr auto;
    grid-template-rows: 10fr 1fr ;
    grid-template-areas: 
    "image sidebar"
    "slider sidebar";
    height: auto;
    width: 100vw;
    background-color: rgb(248, 247, 247);
    justify-items: center;
    

}   

.main-image{
    grid-area: image;
    align-self: center;
    width: 90%;
    height: fit-content;
   
}

.sidebar{
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: stretch;
}
.sidebar-item{
    cursor: pointer;
    border: none;
    outline: none;
    background-color: rgba(73, 160, 214, 0.562);
    padding: 1rem;
    position: relative;
}
.sidebar-item:hover, .sidebar-item:focus{
    background-color: rgba(211, 0, 63, 0.418);
}
.sidebar-item.active {
    background-color: rgb(197, 226, 253);
}
.sidebar-item::after{
    content: "";
    position: absolute;
    width: 80%;
    left: 10%;
    bottom: 0;
    height: 2px;
    background-color: rgb(13, 21, 24);
}
.sidebar-item:last-child::after{
    display: none;
}

.slider-container{
grid-area: slider;
    margin-top: 2rem;
}

.slider {
    width: 100%;
    cursor: pointer;
}