.form__favorites{
    /* width: '300px'; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 60%;
    margin-top: 60px;
    margin-bottom: 60px;

}

